<ion-card>

  <ion-card-header>
    <ion-card-title>Bienvenido Profesor</ion-card-title>
  </ion-card-header>
    <form>
      <ion-input
        type="email"
        label="email profesor"
        labelPlacement="floating"
        placeholder="Ingresa email"
        [(ngModel)]="email_profesor" 
        name="email_profesor"
        maxlength="30"
      ></ion-input>
      <ion-input
        type="password"
        label="Contraseña profesor"
        labelPlacement="floating"
        placeholder="Ingresa tu contraseña"
        [(ngModel)]="contrasena_profesor" 
        name="contrasena_profesor"
        maxlength="30">
      </ion-input>
    </form>  
 <ion-button expand="full" (click)="iniciarSesion()">Ingresar</ion-button>       
</ion-card>
