ion-content {
  --background: url('/assets/image/fondotype.png') center/cover no-repeat fixed;
  color: rgb(239, 205, 16);
  display: flex;
  justify-content: center;
  align-items: center;

  ion-card {
    width: 80%; // Ajusta el ancho del card según tus necesidades
    border-radius: 10px;
    margin: 40px;
  }
  ion-card-header {
    ion-card-title {
      --color: #1d2bed;
    }
  }

  .card_form {
    ion-input {
      font-size: 15px;
    }

    ion-button {
      --background: rgb(246, 223, 11);
      --background-hover: rgb(11, 31, 246);
      --background-activated: rgb(11, 31, 246);
      --background-focused: rgb(11, 31, 246);
      --color: rgb(26, 10, 246);
      --border-radius: 40px;
      --ripple-color: white;
      --padding-top: 10px;
      --padding-bottom: 10px;
      margin-top: 10px;
    }
  }
}

ion-card-header {
  ion-card-title {
    --color: #ffffff;
  }
}
