<ion-card>
       <ion-card-header>
         <ion-card-title>Bienvenido Alumno</ion-card-title>
       </ion-card-header>
      <form (ngSubmit)="iniciarSesion()">
        <ion-input
          type="email"
          label="email alumno"
          labelPlacement="floating"
          placeholder="Ingresa email"
          [(ngModel)]="email_alumno" 
          name="email_alumno"
          maxlength="30"
        ></ion-input>
        <ion-input
          type="password"
          label="Contraseña alumno"
          labelPlacement="floating"
          placeholder="Ingresa tu contraseña"
          [(ngModel)]="contrasena_alumno" 
          name="contrasena_alumno"
          maxlength="30">
        </ion-input>
      </form>
      <ion-button expand="full" (click)="iniciarSesion()">Ingresar</ion-button>       
</ion-card>
